body {
  background-color: #fff;
}

.header {
  background-color: #76e4eb;
  height: 3rem;
  max-width: 1080px;
  margin: 0 auto;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.hero-content {
  max-width: 1080px;
  background-color: #315fa4;
  height: 26.25rem;
  margin-bottom: 20px;
}

.columns {
  display: block;
  max-width: 1080px;
  height: 13.75rem;
  margin: 0 auto;
}

.column {
  float: left;
  height: 13.75rem;
  width: 100%;
  background-color: #ca1dcd;
  margin-bottom: 20px;
}

.column:nth-child(3) {
  float: left;
  height: 13.75rem;
  width: 100%;
  background-color: #ca1dcd;
  margin-bottom: 20px;
}

.footer {
  clear: both;
  max-width: 1080px;
  margin: 0 auto;
}

.content {
  clear: both;
  background-color: #c01887;
  height: 10.75rem;
  max-width: 1080px;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .columns {
    max-width: 1080px;
    height: 13.75rem;
    margin: 0 auto;
  }

  .column {
    float: left;
    height: 13.75rem;
    width: 21.66rem;
    background-color: #ca1dcd;
    margin-right: 20px;
  }

  .column:nth-child(3) {
    float: left;
    height: 13.75rem;
    width: 21.66rem;
    background-color: #ca1dcd;
    margin: 0 auto;
  }

  .footer {
    max-width: 1080px;
    margin: 0 auto;
  }

  .content {
    clear: both;
    background-color: #c01887;
    height: 10.75rem;
    max-width: 1080px;
    margin-top: 20px;
  }
}
