@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf") format("ttf"),
    url("../fonts/Ubuntu-BoldItalic.ttf") format("ttf"),
    url("../fonts/Ubuntu-Italic.ttf") format("ttf"),
    url("../fonts/Ubuntu-Light.ttf") format("ttf"),
    url("../fonts/Ubuntu-Medium.ttf") format("ttf"),
    url("../fonts/Ubuntu-Regular.ttf") format("ttf");
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.header {
  background-color: #fff;
  height: 48px;
  overflow: hidden;
}

.container {
  max-width: 987px;
  margin: 0 auto;
}

.flex-items {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 89px;
  height: 26px;
}

.navigation a:link {
  text-decoration: none;
  color: #444;
}

.navigation a:visited {
  color: #444;
}

.navigation a:active {
  color: blueviolet;
}

.navigation a:hover {
  color: cadetblue;
}

label[for="hamburger"] {
  display: block;
  padding-right: 0.5em;
  color: #444;
}

.nav-drawer {
  position: absolute;
  right: -20px;
  background-color: #ffd520;
  padding: 1em 18em 1em 2em;
  list-style: none;
  transition: all 0.3s linear;
  transform: translateY(-400px);
}

.sr-only {
  display: none;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ .nav-drawer {
  transform: translateY(0px);
}

.hero-banner {
  background-color: #315fa4;
  height: 420px;
  margin-bottom: 20px;
}

.hero-banner .container {
  max-width: 987px;
  height: 420px;
}

.call-to-action {
  width: 100%;
  margin-bottom: 20px;
}

.column {
  background-color: #ca1dcd;
  display: block;
  height: 220px;
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  background-color: #c01887;
  height: 162px;
}

@media screen and (min-width: 767px) {
  .header {
    overflow: hidden;
    height: 44px;
  }

  .nav-drawer {
    position: absolute;
    right: 150px;
    transform: translateY(0);
    border-bottom: none;
    padding: 0;
    margin: 0 auto;
  }

  .fa-bars {
    display: none;
  }

  .nav-drawer li {
    display: inline-block;
  }

  .hero-banner {
    background-color: #fff;
  }

  .hero-banner .container {
    background-color: #315fa4;
    height: 420px;
    margin-bottom: 20px;
  }

  .column {
    background-color: #ca1dcd;
    display: inline-block;
    height: 220px;
    width: 313px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .column:nth-child(3) {
    margin: 0 auto;
  }

  .footer {
    background-color: transparent;
  }

  .footer .container {
    background-color: #c01887;
    height: 172px;
  }
}
